/.vscode
/cs.cpp
/cs.exe
/kadane.cpp
/kadane.exe
/majority.cpp
/majority.exe
/mejority.cpp
/mejority.exe
/oop.exe
/pow.cpp
/pow.exe
/python.py
/queue.cpp
/queue.exe
/reverse.exe
/selectionSort.cpp
/selectionSort.exe
/stack.cpp
/stack.exe
/tempCodeRunnerFile.cpp